@CHARSET "ISO-8859-1";
body {
	position: relative; 
}
.affix {
	top:0;
	width: 100%;
	z-index: 9999 !important;
}
.navbar {
	margin-bottom: 0px;
}

.affix ~ .container-fluid {
	position: relative;
	top: 50px;
}
#dashboard {padding-top:50px;height:1000px;color: black; background-color: rgb(255,255,255);}
#schedule {padding-top:50px;height:1000px;color: black; background-color: rgb(245,245,245);}
#perf {padding-top:50px;height:1000px;color: black; background-color: rgb(235,235,235);}